@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This website is designed to help you take control of your financial future. It is simple to use and helps you visualize your data.
        Using this you can make better financial choices and achieve all your goals.
    </p>
</div>