@model UsersViewModel

@{
    ViewBag.Title = "Users";
}

<div class="row">
    <div class="mb-2 d-flex">
        <div class="flex-grow-1">
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>
        <div>
            <a class="btn btn-primary" asp-controller="Administration" asp-action="Roles">
                Roles
            </a>
        </div>
    </div>
</div>

<ejs-grid id="roles" dataSource="@Model.users" gridLines="None" allowSorting="true" allowPaging="true">
    <e-grid-columns>
        <e-grid-column headerText="Email" field="Email"></e-grid-column>
        <e-grid-column headerText="Role" field="Role"></e-grid-column>
        <e-grid-column headerText="Last Logged In" field="LastLoggedIn"></e-grid-column>
        <e-grid-column headerText="" template="#makeAdminTemplate"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script id="makeAdminTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <form action="/Administration/MakeAdmin/${Id}" method="post">
            <button type="submit" class="btn btn-sm no-a-decoration" title="Make Admin">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
            </button>
        </form>

        <form action="/Administration/RemoveAdmin/${Id}" method="post">
            <button type="submit" class="btn btn-sm no-a-decoration" title="Remove Admin Role"><i class="fa-solid fa-circle-xmark"></i></button>
        </form>

                <form action="/Administration/DeleteUser/${Id}" method="post">
    @Html.AntiForgeryToken()
            <div id="deleteBtn_${Id}">
                <a class="btn btn-sm btn-link no-a-decoration" onclick="confirmDelete(this.id ,true)" id="${Id}">
                    <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                </a>
            </div>
            <div class="hidden" id="confirmDeleteBtn_${Id}">
                <span>Are you sure you want to delete? </span>
                <button class="btn btn-danger" type="submit">Yes</button>
                <a id="${Id}" class="btn btn-primary" onclick="confirmDelete(this.id, false)">No</a>
            </div>
        </form>
    </div>
</script>

@section Scripts{
    <script src="~/js/deletescript.js"></script>
}