@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<div class="row">
    <div class="mb-2 d-flex">
        <div class="flex-grow-1">
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>
        <div>
            <a class="btn btn-success" asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<ejs-grid id="roles" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
    <e-grid-columns>
        <e-grid-column headerText="Role" field="Name"></e-grid-column>
        <e-grid-column headerText="Actions" template="#actionColumnTemplate"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Administration/EditRole/${Id}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Administration/DeleteRole/${Id}" method="post">
    @Html.AntiForgeryToken()
            <div id="deleteBtn_${Id}">
                <a class="btn btn-sm btn-link no-a-decoration" onclick="confirmDelete(this.id ,true)" id="${Id}">
                    <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                </a>
            </div>
            <div class="hidden" id="confirmDeleteBtn_${Id}">
                <span>Are you sure you want to delete? </span>
                <button class="btn btn-danger" type="submit">Yes</button>
                <a id="${Id}" class="btn btn-primary" onclick="confirmDelete(this.id, false)">No</a>
            </div>
        </form>
    </div>
</script>

@section Scripts{
    <script src="~/js/deletescript.js"></script>
}