@model ExpenseTracker.Models.Category

@{
    ViewData["Title"] = Model.CategoryId == 0 ? "Create a new category" : "Edit category";
}

<div class="row">
    <div class="mb-2 d-flex">
        <div class="flex-grow-1">
            <h3 class="fw-bold">@ViewData["Title"]</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="widget p-5">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="CategoryId" value="@Model.CategoryId">
                <div class="mb-3">
                     <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model.Type=="Expense")" />
                        <label class="e-btn" for="radioleft">Expense</label>
                        <input type="radio" id="radiomiddle" name="Type" value="Income" checked="@(Model.Type=="Income")" />
                        <label class="e-btn" for="radiomiddle">Income</label>
                    </div>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Title" placeholder="Title" ejs-for="Title" floatLabelType="Auto"></ejs-textbox>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Icon" placeholder="Icon" ejs-for="Icon" floatLabelType="Auto"></ejs-textbox>
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <ejs-button id="submit" typeof="submit" content="Submit" cssClass="e-success"></ejs-button>
                @*
                    Button not working, ASP action tries to submit
                <ejs-button id="reset" content="Back" typeof="Reset" cssClass="e-secondary" asp-action="Index"></ejs-button>*@
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
