@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Income</h1>
<ejs-grid id="income" dataSource="@Model.Item1" gridLines="None">
    <e-grid-columns>
        <e-grid-column headerText="Category" field="Category.TitleWithIcon"></e-grid-column>
        <e-grid-column headerText="Amount" field="Amount"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<h1>Expense</h1>
<ejs-grid id="expense" dataSource="@Model.Item2" gridLines="None">
    <e-grid-columns>
        <e-grid-column headerText="Category" field="Category.TitleWithIcon"></e-grid-column>
        <e-grid-column headerText="Amount" field="Amount"></e-grid-column>
    </e-grid-columns>
</ejs-grid>